body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, #FFFFFF, #FFEAFE);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1{
  color: #230050;
}
/* button{
  color: #ffffff;
} */
/* .logo {
color: #000000;
font-family: 'Montserrat';
font-size: 40px;
font-weight: bold;
margin-left: 5%;
margin-top: 2%;
position: absolute;
} */
.help{
  font-family: Montserra;
  font-size: 20px;
  font-weight: bold;
  color: #A2A2A2;
  position: absolute;  
  background-color: rgba (0, 0, 0, 0);
  border-radius: 20px;
  border: none;
  margin-left: 70%;
  margin-top: 2%;
  height: 30px;
  width: 100px;
  cursor: pointer;
}
.logIn {
  font-family: Montserra;
  font-size: 20px;
  font-weight: bold;
  position: absolute;  
  background-color: rgba (0, 0, 0, 0);
  border-radius: 20px;
  border: none;
  color: #000000;
  margin-left: 80%;
  margin-top: 2%;
  height: 30px;
  width: 70px;
  cursor: pointer;
}
/*input[type="text"] { 
  border: 1px solid #A9A9FF;
  border-radius: 15px;
  -webkit-border-radius: 15px; /*закругление углов (Google Chrome) */
  /*-moz-border-radius: 10px; /*закругление углов (FireFox) */
   /*-khtml-border-radius: 10px; /*закругление углов (Safari) */
  /* background: #A9A9FF !important;
   outline: none; /* удаляет обводку в браузерах хром(желтая) и сафари(синяя) */
   /*height: 35px;
   width: 350px;
   color: #ffffff; /*цвет шрифта при вводе текста*/
   /*font-size: 20px;
   font-family: Regular;
   margin-left: 10%;
  margin-top: 25%;
  position: absolute;
} */

.png{
  margin-left: 58%;
  margin-top: 10%;
  position: absolute;
}
.line1 {
  position: absolute;
  margin-left: 41%;
  margin-top: 17%;
}
.line2 {
  position: absolute;
  margin-left: 63%;
  margin-top: 15%;
}
.letter {
  position: absolute;
  margin-left: 64%;
  margin-top: 15%;
}
.feedback {
  background: #5255CA;
  border-radius: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Montserrat';
  cursor: pointer;
  width: 300px;
  height: 80px;
  margin-left: 65.5%;
  margin-top: 30%;
  position: absolute;
  border: 2px solid #5255CA;
}

.application {
  font-size: 60px;
  font-weight: bold;
  font-family: 'Montserrat';
  background: #8E7FE8;
  border-radius: 78px;
  color: #fff;
  position: absolute;
  border: 2px solid #8E7FE8;
  width: 470px;
  height: 100px;
  margin-left: 15%;
  margin-top: 17%;
  cursor: pointer;
}
h1 {
  font-size: 25x;
  font-weight: lighter;
  font-family: 'Montserrat';
  color: #9A9898;
  position: absolute;
  margin-left: 10%;
  margin-top: 25%;
}