body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'Open Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FFFFFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1{
  color: #230050;
}
/* button{
  color: #ffffff;
} */
/* .logo {
color: #000000;
font-family: 'Montserrat';
font-size: 40px;
font-weight: bold;
margin-left: 5%;
margin-top: 2%;
position: absolute;
} */
/* @media screen and (max-width: 1440px){ */
.help{
  font-family: 'Open Sans';
  font-size: 20px;
  font-weight: bold;
  color: #A2A2A2;
  position: absolute;  
  background-color: rgba (0, 0, 0, 0);
  border-radius: 20px;
  border: none;
  margin-left: 70%;
  margin-top: 2%;
  height: clamp(25px, 30px, 40px);/*30px;*/
  width: clamp(90px, 100px, 120px);/*100px;*/
  cursor: pointer;
}
.logIn {
  font-family: 'Open Sans';
  font-size: 20px;
  font-weight: bold;
  position: absolute;  
  background-color: rgba (0, 0, 0, 0);
  border-radius: 20px;
  border: none;
  color: #000000;
  margin-left: 80%;
  margin-top: 2%;
  height: clamp(25px, 30px, 35px);/*30px;*/
  width: clamp(65px, 70px, 75px);/*70px;*/
  cursor: pointer;
}
/*input[type="text"] { 
  border: 1px solid #A9A9FF;
  border-radius: 15px;
  -webkit-border-radius: 15px; /*закругление углов (Google Chrome) */
  /*-moz-border-radius: 10px; /*закругление углов (FireFox) */
   /*-khtml-border-radius: 10px; /*закругление углов (Safari) */
  /* background: #A9A9FF !important;
   outline: none; /* удаляет обводку в браузерах хром(желтая) и сафари(синяя) */
   /*height: 35px;
   width: 350px;
   color: #ffffff; /*цвет шрифта при вводе текста*/
   /*font-size: 20px;
   font-family: Regular;
   margin-left: 10%;
  margin-top: 25%;
  position: absolute;
} */

 .png{
  /* margin-left: 60%;
  margin-top: 20%;    */
 position: absolute; 
 width: clamp(470px, 50%, 508px);
 height: clamp(364px, 50%, 408px); 
 /* left: 59%;
 top: 18%; */
} 
.line1 {
  position: absolute;
  width: clamp(563px, 20%, 650px);
  height: clamp(178px, 20%, 274px); 
  /* margin-left: 35%;
  margin-top: 45%;  */
  /* left: 41%;
  top: 35%; */
}
.line2 {
  position: absolute;
  width: clamp(110px, 8%, 240px);
  /* margin-left: 21%;
  margin-top: 35%;  */
  /* left: 65%;
  top: 24%; */
}
.letter {
  position: absolute;
  margin-left: 64%;
  margin-top: 15%;
  /* left: 65%;
  top: 27%; */
}
.feedback {
  background: #83ADF2;
  border-radius: 20px;
  color: #fff;
  font-size: clamp(25px, 40%, 30px);
  font-weight: bold;
  font-family: 'Open Sans';
  cursor: pointer;
  width: clamp(373px, 30%, 445px);
  height: clamp(50px, 30%, 65px);
  /* margin-left: 20%;
  margin-top: 50%; */
  /* left: 66.5%;
  top: 48%; */
  position: absolute;
  border: 2px solid #83ADF2;
}

.application {
  font-size: clamp(25px, 40%, 30px);
  font-weight: bold;
  font-family: 'Open Sans';
  background: #434DE5;
  border-radius: 20px;
  color: #fff;
  position: absolute;
  border: 2px solid #434DE5;
  width: clamp(300px, 30%, 345px);
  height: clamp(59px, 30%, 70px);
  /* margin-left: 12%;
  margin-top: 30%; */
  cursor: pointer;
  /* left: 15%;
  top: 30%; */
}
h1 {
  font-size: 25x;
  font-weight: lighter;
  font-family: 'Open Sans';
  color: #9A9898;
  position: absolute;
  margin-left: 10%;
  margin-top: 25%; 
}
.modalWindow {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-duration: 300ms;
}

.text {
  background-color: #FFFFFF;
  height: clamp(200px, 300px, 350px);/*300px;*/
  width: clamp(550px, 650px, 800px);/*650px;*/
  color: #000000;
  font-family: 'Open Sans';
  font-size: clamp(23px, 27px, 30px);/*27px;*/
  font-weight: medium;
  border-radius: 20px;
  text-align: center;
  padding: clamp(25px, 30px, 35px);/*30px;*/
  line-height: 40px; 
}

.key {
  background-color: #83ADF2;
  border-radius: 78px;
  border: none;
  color: #fff;
  font-family: 'Open Sans';
  width: 50%;
  height: 20%;
  font-size: 20px;
  padding-left: 2%;
  position: relative;
  margin-top: 7%;
  outline: none !important;
}
.check {
  background-color: #434DE5;
  border-radius: 78px;
  border: none;
  color: #fff;
  font-family: 'Open Sans';
  height: 20%;
  width: 50%;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 2%;
}
.close {
  display: block;
  width: 20px;
  height: 20px;
  --weight: 3px;
  --aa: 1px; 
  --color: black;
  border-radius: 3px;
  cursor: pointer;
  position: absolute;
  /* left: 72%;
  top:34%; */
  background:
    linear-gradient(45deg, transparent calc(50% - var(--weight) - var(--aa)), var(--color) calc(50% - var(--weight)), var(--color) calc(50% + var(--weight)), transparent calc(50% + var(--weight) + var(--aa))),
    linear-gradient(-45deg, transparent calc(50% - var(--weight) - var(--aa)), var(--color) calc(50% - var(--weight)), var(--color) calc(50% + var(--weight)), transparent calc(50% + var(--weight) + var(--aa)));
}
@media screen and (min-width:1023px) and (max-width: 1260px){
  /* .close {
    left: 72%;
    top:34%;
  } */
  .png{
    margin-left: 55%;
    margin-top: 20%;   
  }
  .line1 {
    margin-left: 30%;
    margin-top: 54%; 
  }
  .line2 {
    margin-left: 16%;
    margin-top: 37%; 
  }
  .feedback {
    margin-left: 14%;
    margin-top: 57%;
  }
  .application{
    margin-left: 5%;
    margin-top: 30%;
  } 
}
@media screen and (min-width: 1261px) {
  .png{
    margin-left: 55%;
    margin-top: 20%;   
  }
  .line1 {
    margin-left: 30%;
    margin-top: 50%; 
  }
  .line2 {
    margin-left: 19%;
    margin-top: 40%; 
  }
  .feedback {
    margin-left: 14%;
    margin-top: 56%;
  }
  .application{
    margin-left: 5%;
    margin-top: 33%;
  }
}
@media (min-width: 1440px)
{
  .close {
    left: 72%;
    top:34%;
  }
  .png{
    margin-left: 60%;
    margin-top: 20%;   
  }
  .line1 {
    margin-left: 35%;
    margin-top: 45%; 
  }
  .line2 {
    margin-left: 21%;
    margin-top: 35%; 
  }
  .feedback {
    margin-left: 20%;
    margin-top: 50%;
  }
  .application{
    margin-left: 12%;
    margin-top: 30%;
  }
}

@media (min-width: 1920px)
{
  .close {
    left: 67%;
    top:34%;
  }
  .png{
    margin-left: 60%;
    margin-top: 16%;   
  }
  .line1 {
    margin-left: 41%;
    margin-top: 35%; 
  }
  .line2 {
    margin-left: 34%;
    margin-top: 27%; 
  }
  .feedback {
    margin-left: 30%;
    margin-top: 37%;
  }
  .application{
    margin-left: 20%;
    margin-top: 22%;
  }
}
